.navbar {
    color: white;
    background-color:darkturquoise;
    margin: -8px;
    margin-top: -20px;
    /* position: relative; */
    /* margin-top: 20px; */
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 40px;
    display: flex;
}


.ai-name {

}


.sign-out {
    /* position: relative; */
    /* justify-content: right; */
    margin-left: 1000px;
    /* margin-top: -50px; */
}

.side-navs {
    padding-top: 10px;
    margin-left: 30px;
    /* color: ; */
}


.side-navs a h3 {
    margin-top: 50px;
}

.side-navs a {
    color:darkblue;
    text-decoration: none;
}

.whole-body {
    display: flex;
}

.books {
    /* text-align: center; */
    /* margin-left: 400px; */
    margin-top: 20px;
    margin-bottom: 100px;
}

.list-books {
    margin-right: 150px;
    /* display: flex; */
    margin-left: 100px;
    margin-top: 20px;
}

.books-title {
    margin-left: 400px;
}

.main-book-content {
    display: flex;
    justify-content: space-between;
}