.ai-name {
    margin-top: 30px;
    margin-left: 30px;
}

/* CSS for mobile devices */
/* @media only screen and (max-width: 767px) {
    .details {
        width: 500px;
        margin-right: 300px;
    }
    .explanation {
        width: 500px;
    }
    .navbar {
        width: 900px;
    }
    .logo {
        height: 700px;
    }
    .div-email {
        width: 500px;
    }
    .features-div h3 {
        margin-left: 450px;
    }
    .landing-page-footer {
        height: 400px;
        width: 900px;
    }
    .contact-details {
        width: 400px;
    }
    
    .feature.show {
        width: 300px;
    }
    .feature-explanation {
        margin-right: 100px;        
    }
} */

.explanation {
    margin-right: 330px;
}

.waitlist-email {
    width: 75%;
}

.waitlist-email-input {
    height: 60px;
}

.join-waitlist-button {
    width: 150px;
}

.features-offered {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    gap: 50px;
    margin-top: 50px;
}


.feature-image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}

.feature {
    width: 33%;
    filter: blur(5px);
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.feature.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}

.feature:nth-child(2) {
    transition-delay: 200ms;
}

.feature:nth-child(3) {
    transition-delay: 400ms;
} 

.landing-page-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 20px 10px;
}

.waitlist-nav {
    height: 300px;
}
.books {
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 300px;
    }
    
    .list-books {
    margin-top: 20px;
}
.category {
    text-align: center;
}

.list-books div {
    margin-left: 40px;
}
.journal-title {
margin-bottom: 15px;
}

.journal {
margin-left: 250px;
}
.books-title {
    margin-left: 200px;
}

.main-book-content {
    display: flex;
}


.searchbar {
    width: 300px;
    margin-left: 120px;
}

.title-book {
    text-decoration: none;
}


.wordbase {
    margin-top: 50px;
    margin-right: 300px;
}

.dictionary {
    margin-bottom: 50px;
    position: absolute;
    margin-left: 300px;
}

.top-header {
    margin-top: 30px;
    margin-left: 50px;
}

.dict-title {
    margin-left: 125px;
}


.journal-header {
    margin-top: 50px;
}

.journal-entry {
    margin-top: 150px;
    margin-left: -400px;
}

#personalJournal {
    height: 350px;
}

.save-entry-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.journal-entries {
    margin-top: 150px;
    margin-left: -350px;
    width: 50%;
}

.date-created-journal {
    margin-left: 400px;
}

.journal-topic-heading {
    display: flex;
    gap: 10px;
}
.new-journal-link {
    text-decoration: none;
    margin-left: 250px;
}

.returned-books {
    margin-top: 30px;
}

.show-term {
    margin-top: 30px;
}

.books-header {
    margin-left: 100px;
    .sign-out {
        margin-top: 25px;
    }
    
    .collapse {
        justify-content: right;
    }
    
    .side-navs {
        margin-top: 50px;
        margin-left: 50px;
        position: fixed;
        transition: all 2s;
    }
    
    .side-navs .scroll-up {
        transform: translateY(-200px);
    }
    
    .side-navs .scroll-down {
        transform: translateY(0);
    }
    
    
    .side-navs a h6 {
        margin-top: 45px;
    }
    
    
    .side-navs a {
        color:black;
        text-decoration: none;
    }
    
    .whole-body {
        display: flex;
    }
}

/* ++++++++ */
.waitlist-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    margin-top: 10vw;
}

.features-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features-div p {
    margin-top: 1rem;
}

.img-cover {
    width: 100%;
    height: 250px;
}

/* Changes Made */

@media only screen and (min-width: 600px) {
    .features-div {
        text-align: center;
        padding: 20px 10px;
    }

    .landing-page-footer {
        align-items: center;
    } 
}

.new-entry {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 20px 0 250px;
}

.new-entry .datetime {
    font-size: 25px;
    font-weight: 700;
}

.new-entry input {
    border-radius: 0;
}

.tags-display {
    display: flex;
    gap: 10px;
}

.tags-display div {
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags-display div i {
    cursor: pointer;
}