{% extends 'layout.html' %}
{% block title %}Books{% endblock %}
{% block body %}
    <div class="books">
        <div class="books-header">
        <h2 class="books-title">Books</h2>
        <div class="searchbar">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" id="search-input" placeholder="Search (bookname or category)" aria-label="Search" aria-describedby="search-addon" onkeyup="searchBooks()" />
                <!-- <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span> -->
            </div>
            <div class="returned-books">
            <div class="searched-books" style="display: none;">

            </div>
        </div>
        </div>
        
        </div>  
        <div class="main-book-content">
         <div class="list-books">
            <h6 class="category">Trading Psycology</h6>
            <div id="psychology-books">
                <ul>
                    <li>
                        <a href="https://www.amazon.com/Trading-Zone-Douglas-1-Jul-2000-Hardcover/dp/B011T6QGMO/ref=sr_1_2?crid=3L0V73KIPZ25A&keywords=trading+in+the+zone+by+mark+douglas&qid=1690096716&s=books&sprefix=Trading+%2Cstripbooks-intl-ship%2C657&sr=1-2" class="title-book">Trading in the Zone by Mark Douglas</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Psychology-Trading-Techniques-Minding-Markets/dp/0471267619/ref=sr_1_1?crid=3IDXB0ILPTO8W&keywords=the+psychology+of+trading+by+brett+n.+steenbarer&qid=1690096798&s=books&sprefix=the+pyscology+of+trading+by+brett+n.+steenba%2Cstripbooks-intl-ship%2C757&sr=1-1" class="title-book">The Pysycology of Trading by Brett N. Steenbarger</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Market-Mind-Games-Psychology-Investing/dp/0071756221/ref=sr_1_1?crid=1PX02G4NEW4CA&keywords=Market+Mind+Games+by+Denise+Shull&qid=1690096838&s=books&sprefix=market+mind+games+by+denise+shull%2Cstripbooks-intl-ship%2C815&sr=1-1" class="title-book">Market Mind Games by Denise Shull</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Trading-Options-Turbulent-Markets-Uncertainty/dp/1576603601/ref=sr_1_1?crid=2D9JIKR31DO14&keywords=Trading+in+Turbulent+Markets%3A+Master+Uncertainty+through+Active+Volatility+Management&qid=1690101729&sprefix=trading+in+turbulent+markets+master+uncertainty+through+active+volatility+management+by+ben%2Caps%2C1633&sr=8-1" class="title-book">Trading in Turbulent Markets: Master Uncertainty Through Active Volatility Management by Larry Shover</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Daily-Trading-Coach-Becoming-Psychologist/dp/B08BX6GPB3/ref=sr_1_1?keywords=The+Daily+Trading+Coach%3A+101+Lessons+for+Becoming+Your+Own+Trading+Psychologist+by+Brett+N.+Steenbarger&qid=1690101556&s=books&sr=1-1" class="title-book">The Daily Trading Coach: 101 Lessons for Becoming Your Own Trading Psychologist by Brett N. Steenbarger</a>
                    </li>
                </ul>
            </div>
                <h6 class="category">Technical Analysis</h6>
                <div id="technical-books">
                <ul>
                    <li>
                        <a href="https://www.amazon.com/Technical-Analysis-Financial-Markets-Comprehensive/dp/0735200661/ref=sr_1_2?crid=1KOXE04LUEMMS&keywords=Technical+Analysis+of+the+Financial+Markets+by+John+J.+Murphy&qid=1690096881&s=books&sprefix=technical+analysis+of+the+financial+markets+by+john+j.+murphy%2Cstripbooks-intl-ship%2C668&sr=1-2" class="title-book">Technical Analysis of the Financial Markets by John J. Murphy</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Japanese-Candlestick-Charting-Techniques-Contemporary-ebook/dp/B00CS74GBM/ref=sr_1_1?crid=7Q64FDLU2P5P&keywords=japanese+candlestick+charting+techniques+by+steve+nison&qid=1690096929&s=books&sprefix=japanese+candlestick+charting+techniques+by+steve+nison%2Cstripbooks-intl-ship%2C593&sr=1-1" class="title-book">Japanese Candelstick Charting Techniques by Steve Nison</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Charting-Technical-Analysis-Fred-Mcallen/dp/1456468693/ref=sr_1_1?crid=3DGW6Y3WUY7PS&keywords=Charting+and+Technical+Analysis+by+Fred+Mcallen&qid=1690096969&s=books&sprefix=charting+and+technical+analysis+by+fred+mcallen%2Cstripbooks-intl-ship%2C642&sr=1-1" class="title-book">Charting and Technical Analysis by Fred Mcallen</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Encyclopedia-Chart-Patterns-Wiley-Trading/dp/1119739683/ref=sr_1_1?crid=2N6FAIS59LXMY&keywords=the+encyclopedia+of+chart+patterns+by+thomas+n.+bulkowski&qid=1690097009&s=books&sprefix=the+encyclopedia+of+chart+patterns+by+thomas+n.+bulkwosi%2Cstripbooks-intl-ship%2C739&sr=1-1" class="title-book">The Encyclopedia of Chart Patterns by Thomas N. Bulkwosi</a>
                    </li>
                   
                </ul>
            </div>
                <h6 class="category">Fundamental Analysis</h6>
                <div id="fundamental-books">
                <ul>
                    <li>
                        <a href="https://www.amazon.com/Intelligent-Investor-Definitive-Investing-Essentials/dp/0060555661/ref=sr_1_1?crid=2NBFT0V8YZ935&keywords=The+Intelligent+Investor+by+Benjamin+Graham&qid=1690097049&s=books&sprefix=the+intelligent+investor+by+benjamin+graham%2Cstripbooks-intl-ship%2C401&sr=1-1" class="title-book">The Intelligent Investor by Benjamin Graham</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Security-Analysis-Principles-Benjamin-Graham/dp/007141228X/ref=sr_1_2?crid=2B114D5CR4K0N&keywords=Security+Analysis+by+Benjamin+Graham+and+David+Dodd&qid=1690097077&s=books&sprefix=security+analysis+by+benjamin+graham+and+david+dodd%2Cstripbooks-intl-ship%2C452&sr=1-2" class="title-book">Security Analysis by Benjamin Graham and David Dodd</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Random-Walk-Down-Wall-Street/dp/0393358380/ref=sr_1_1?crid=32JMAM9ILNH9D&keywords=A+Random+Walk+Down+Wall+Street+by+Burton+G.+Malkiel&qid=1690097125&s=books&sprefix=a+random+walk+down+wall+street+by+burton+g.+malkiel%2Cstripbooks-intl-ship%2C613&sr=1-1" class="title-book">A Random Walk Down Wall Street by Burton G. Malkiel</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Little-Book-Valuation-Company-Profit/dp/1118004779/ref=sr_1_1?crid=1NRP5H0UUJY9E&keywords=The+Little+Book+of+Valuation+by+Aswath+Damodaran&qid=1690097160&s=books&sprefix=%2Cstripbooks-intl-ship%2C730&sr=1-1" class="title-book">The Little Book of Valuation by Aswath Damodaran</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Financial-Statement-Analysis-5th-Practitioners/dp/1119457149/ref=sr_1_1?crid=39E21BJQJHN4Y&keywords=Financial+Statement+Analysis+by+Martin+S.+Fridson+and+Fernando+Alvarez&qid=1690097198&s=books&sprefix=financial+statement+analysis+by+martin+s.+fridson+and+fernando+alvarez%2Cstripbooks-intl-ship%2C732&sr=1-1" class="title-book">Financial Statement Analysis by Martin S. Fridson and Fernando Alvarez</a>
                    </li>
                   
                </ul>         
            </div>
        </div>
        <div class="list-books">
            <h6 class="category">Trading Strategies and Systems</h6>
            <div id="strategies-books">
            <ul>
                <li>
                    <a href="https://www.amazon.com/Reminiscences-Stock-Operator-Edwin-Lef%C3%A8vre/dp/0471770884/ref=sr_1_1?crid=RFRTNGO1ZWR&keywords=reminiscence+of+a+stock+operator+by+edwin+lefevre&qid=1690097240&s=books&sprefix=reminscence+of+a+stock+operator+by+edwin+lefevre%2Cstripbooks-intl-ship%2C786&sr=1-1" class="title-book">Reminscences of a Stock Operator by Edwin Lefevre</a>
                </li>
                <li>
                    <a href="https://www.amazon.com/How-Make-Money-Stocks-Winning/dp/0071614133/ref=sr_1_1?crid=1V3V9Z0LLW78N&keywords=How+to+Make+Money+in+Stocks+by+William+J.+O%27Neil&qid=1690097284&s=books&sprefix=how+to+make+money+in+stocks+by+william+j.+o%27neil%2Cstripbooks-intl-ship%2C896&sr=1-1" class="title-book">How to Make Money in Stocks by William J. O'Neil</a>
                </li>
                <li>
                    <a href="https://www.amazon.com/The-New-Market-Wizards-audiobook/dp/B01FN8IAQE/ref=sr_1_1?crid=1SRD303VTOXWC&keywords=The+New+Market+Wizards&qid=1690097346&s=books&sprefix=the+new+market+wizards%2Cstripbooks-intl-ship%2C983&sr=1-1" class="title-book">The New Market Wizards by Jack D. Schwager</a>
                </li>
                <li>
                    <a href="https://www.amazon.com/Systematic-Trading-designing-trading-investing/dp/0857194453/ref=sr_1_3?crid=3NTK73AU9AOGG&keywords=Systematic+Trading%3A+A+Unique+New+Method+for+Designing+Trading+and+Investing+Systems+by+Robert+Carver&qid=1690097661&s=audible&sprefix=%2Caudible%2C1973&sr=1-3" class="title-book">Systematic Trading: A Unique New Method for Designing Trading and Investing Systems by Robert Carver</a>
                </li>
                <li>
                    <a href="https://www.amazon.com/Trend-Following-5th-Edition-audiobook/dp/B072VVJLWM/ref=sr_1_1?crid=HRKYRKC8M4S8&keywords=Trend+Following+by+Michael+W.+Covel&qid=1690097708&sprefix=trend+following+by+michael+w.+covel%2Caps%2C782&sr=8-1" class="title-book">Trend Following by Michael W. Covel</a>
                </li>
               
            </ul>
        </div>
                <h6 class="category">Risk Management and Money Management</h6>
                <div id="risk-books">
                <ul>
                    <li>
                        <a href="https://www.amazon.com/Trade-Your-Way-Financial-Freedom/dp/007147871X/ref=sr_1_1?crid=2XCY6L9LBVQEC&keywords=Trade+Your+Way+to+Financial+Freedom+by+Van+K.+Tharp&qid=1690097799&s=audible&sprefix=trade+your+way+to+financial+freedom+by+van+k.+tharp%2Caudible%2C811&sr=1-1-catcorr" class="title-book">Trade Your Way to Financial Freedom by Van K. Tharp</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Mathematics-Money-Management-Analysis-Techniques/dp/0471547387/ref=sr_1_1?crid=1UFMT0AE6W9AK&keywords=The+Mathematics+of+Money+Management+by+Ralph+Vince&qid=1690097842&sprefix=the+mathematics+of+money+management+by+ralph+vince%2Caps%2C782&sr=8-1" class="title-book">The Mathematics of Money Management by Ralph Vince</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/New-Trading-Living-Psychology-Discipline/dp/1118443926/ref=sr_1_1?crid=2EBEWPN0JRP6D&keywords=The+New+Trading+for+a+Living+by+Alexander+Elder&qid=1690097897&sprefix=the+new+trading+for+a+living+by+alexander+elder%2Caps%2C740&sr=8-1" class="title-book">The New Trading for a Living by Alexander Elder</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/The-Complete-TurtleTrader-audiobook/dp/B01L7J0JBC/ref=sr_1_1?crid=34EJFKDPGWF&keywords=The+Complete+TurtleTrader+by+Michael+Cover&qid=1690097939&sprefix=%2Caps%2C951&sr=8-1" class="title-book">The Complete TurtleTrader by Michael Cover</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Successful-Traders-Guide-Money-Management/dp/1119798809" class="title-book">The Successful Trader's Guide to Money Management: Proven Strategies, Applications, and Management Techniques</a>
                    </li>
                </ul>
            </div>
            <h6 class="category">Algorithmic Trading</h6>
                <div id="risk-books">
                <ul>
                    <li>
                        <a href="https://www.amazon.com/Algorithmic-Trading-Winning-Strategies-Rationale/dp/1118460146/ref=sr_1_1?keywords=Algorithmic+Trading%3A+Winning+Strategies+and+Their+Rationale+by+Ernie+Chan&qid=1690100765&s=books&sr=1-1" class="title-book">Algorithmic Trading: Winning Strategies and Their Rationale by Ernie Chan</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Building-Winning-Algorithmic-Trading-Systems/dp/1118778987/ref=sr_1_1?keywords=Building+Winning+Algorithmic+Trading+Systems%3A+A+Trader%27s+Journey+from+Data+Mining+to+Monte+Carlo+Simulation+to+Live+Trading+by+Kevin+J.+Davey&qid=1690100814&s=books&sr=1-1" class="title-book">Building Winning Algorithmic Trading Systems: A Trader's Journey from Data Mining to Monte Carlo Simulation to Live Trading by Kevin J. Davey</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Machine-Trading-Deploying-Computer-Algorithms/dp/1119219604/ref=sr_1_1?keywords=Machine+Trading%3A+Deploying+Computer+Algorithms+to+Conquer+the+Markets+by+Ernest+P.+Chan&qid=1690100868&s=books&sr=1-1" class="title-book">Machine Trading: Deploying Computer Algorithms to Conquer the Markets by Ernest P. Chan</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Inside-Black-Box-Quantitative-Frequency/dp/1118362411/ref=sr_1_1?keywords=Inside+the+Black+Box%3A+A+Simple+Guide+to+Quantitative+and+High-Frequency+Trading%22+by+Rishi+K.+Narang&qid=1690100925&s=books&sr=1-1" class="title-book">Inside the Black Box: A Simple Guide to Quantitative and High-Frequency Trading" by Rishi K. Narang</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.com/Mastering-Python-Finance-state-art-ebook/dp/B07MVGW93W/ref=sr_1_1?keywords=Mastering+Python+for+Finance+by+James+Ma+Weiming&qid=1690100975&s=books&sr=1-1" class="title-book">Mastering Python for Finance by James Ma Weiming</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> -->
<script src="/static/horizonAI/books.js"></script>
{% endblock %}