{% extends 'layout.html' %}
{% block title %}Journal{% endblock %}
{% block body %}
    <div class="journal">
        <div class="journal-header">
        <h2 class="journal">Journal Entry</h2>
        <a href="#" class="new-journal-link">Create new journal entry</a>
        </div>  
        </div>
           
        <!-- <div class="journal-entries">
          <br>
          <h6><b>Don't sell in a downtrend</b></h6>
          <div class="journal-topic-heading">
          <p>Today I learnt about how to trade in an uptrend. I will never do this again. It is the last time! I swear.</p>
          x
        </div><br>
          <b class="date-created-journal">Created on 2023/07/16 15:30</b>
          <hr>
          <h6><b>Don't buy in a uptrend</b></h6>
          <div class="journal-topic-heading">
          <p>Today I learnt about how to trade in an uptrend. I will never do this again. It is the last time! I swear.</p>
          x
        </div><br>
          <b class="date-created-journal">Created on 2023/07/16 16:30</b>
          <hr>
          <h6><b>Stay out of ranging markets</b></h6>
          <div class="journal-topic-heading">
          <p>Today I learnt about how to trade in an uptrend. I will never do this again. It is the last time! I swear.</p>
          x
        </div><br>
          <b class="date-created-journal">Created on 2023/07/16 17:30</b>
          <hr>
          
        </div> -->
</div>
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> -->
{% endblock %}